#about{
	padding-top: 0;
	.section-heading {
		hr {
			border-bottom: 1px solid rgba(0,0,0,.1);
			margin-top: 0;
		}
		p {
			text-transform: uppercase;
			font-family:$heading-font;
		}

	}

	.section-content {
		h1 {
			font-family: $cursive;
			line-height: 5rem;
			font-size:3rem;
			letter-spacing:-1px;
		}
	}
}