#sub-section {
	background: $brand;
	color:#fff;
	h1 {
		margin-top: 0;
		font-family: $cursive;
		line-height: 5rem;
	}
	p{
		line-height: 3rem;
	}
	a {
		font-family: $heading-font;
		font-size:2rem;
		margin-top: 3rem;
		display: inline-block;
		padding-bottom: 1rem;
		border-bottom: 2px solid lighten($brand, 25%);

		&:hover {
		border-bottom: 2px solid #fff;

		}
	}
}